@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1945px;
  color: white;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

